.page-game-list{
    display: grid;
    gap:12px;
    padding: 24px 12px;
    grid-template-columns: repeat(auto-fit,minmax(280px,1fr));
    position: relative;
    background-color: var(--secondary);
    border-radius: 12px;
}



@media screen and (max-width: 600px){
.page-game-list{ 
    grid-template-columns:1fr;
}
}