.post-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(290px,1fr));
    gap: 12px;
    padding: 12px 12px;
    position: relative;
}

.post-card-author{
    display: grid;
    grid-auto-columns: min-content auto;
    grid-auto-rows: min-content;
    column-gap:12px;
    grid-template-areas: 
    'image name'
    'image date'
    ;
}

.post-card{
    border-radius: 12px;
    display: grid;
    height: 140px;
    box-shadow: rgb(124 166 69) 250px 0px 150px 20px inset;
    grid-template-areas: 
    'title'
    'description'
    'author'
    ;
    gap:8px;
    grid-auto-columns: auto;
    background-color: var(--primary);
    cursor: pointer;
    padding:12px 24px;
    padding-right: 48px;
    position: relative;
    text-overflow: ellipsis;
    white-space:break-spaces;
    overflow: hidden;
}

.right-arrow{
    position: absolute;
    right:24px;
    top:50%;
    color:var(--complimentary)
}

.post-area-top-text{
    position: absolute;
    top:-42px;
    left:50%;
    text-align: center;
    transform: translate(-50%);
    width: 100%;
}

.post-area-bottom-text{
    text-align: center;
    text-decoration:underline;
    width: 100%;
}

    
@media screen and (max-width: 600px){
    
    .post-area-top-text{
        text-align: center;
        position:inherit;
        left:auto;
        top:auto;
        transform:none;
    }
    
    }


