.post-grid-container{
    display: grid;
    grid-template-areas: 
    '.'
    'header'
    'text'
    ;
    grid-template-columns: 1fr;
    grid-template-rows: 10vh min-content 70vh;
    padding:32px;
    gap:12px;
}

.other-news-cards{
    display: grid;
    grid-template-columns:30px repeat(3,350px) 30px;
    justify-content: center;
    gap:12px
}

.blog-post-contenxt{
    padding:32px;
    border-radius: 32px;
    overflow: auto;
    background-color: var(--secondary);
    margin-top: 24px;
}

.blog-post-contenxt hr{
    width: 99%;
}

.detail-card-arrow{
    color: white;
    align-self: center;
    cursor: pointer;
    transform: scale(100%);
    transition: all 0.5s;
}

.detail-card-arrow:hover{
    transform: scale(125%);
    transition: all 0.5s;
}

@media screen and (max-width:600px) {
    .blog-post-contenxt{
        padding:12px;
    }
    .post-grid-container{
        padding:32px 12px;
    }

   
}

@media screen and (max-width:1088px) {
.other-news-cards{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap:12px;
    padding:0px 12px;
}
.detail-card-arrow{
    display: none;
}
}