.post-grid-container{
    display: grid;
    grid-template-areas: 
    '.'
    'header'
    'text'
    ;
    grid-template-columns: 1fr;
    grid-template-rows: 10vh min-content 70vh;
    padding:32px;
    gap:12px;
}



.blog-post-contenxt{
    padding:32px;
    border-radius: 32px;
    overflow: auto;
    background-color: var(--secondary);
    margin-top: 24px;
}

.blog-post-contenxt hr{
    width: 99%;
}



.post-detail-content{
    display: grid;
    grid-template-areas: 
    'main aside'
    ;
    grid-auto-columns: 60vw 200px;
    justify-content: center;
}

.post-aside{
    grid-area: aside;
    margin-top: 228px;
    border-radius: 12px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap:24px;
    padding:24px;
    align-items: center;
    height: min-content;
    background-color: var(--secondary);
}


.game-aside{
    grid-area: aside;
    margin-top: 228px;
    border-radius: 12px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap:24px;
}

.game-detail-content{
    display: grid;
    grid-template-areas: 
    'main aside'
    ;
    grid-auto-columns: 60vw 450px;
    justify-content: center;
    gap:36px
}

.go-back {
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 1;
    padding-left: 15px;
    position: relative;
    cursor: pointer;
}
.go-back::before,
.go-back::after {
    content: "";
    display: block;
    left: 0px;
    position: absolute;
    top: 50%;
    transition: left 0.1s;
}
.go-back::before {
    border-color: white;
    border-style: solid;
    border-width: 0 0 4px 4px;
    height: 12px;
    margin-top: -6px;
    width: 12px;

    transform: rotate( 45deg );
    -webkit-transform: rotate( 45deg );
}
.go-back::after {
    background: white;
    height: 4px;
    width: 22px;
}
.go-back:hover::before,
.go-back:hover::after {
    left: -6px;
}


@media screen and (max-width:1000px) {
.game-aside{
    display: none;
}

.post-aside{
    display: none;
}

.game-detail-content{
    grid-template-areas: 'main';
    grid-auto-columns: auto;
    padding:0px 12px
}

.post-detail-content{
    grid-template-areas: 'main';
    grid-auto-columns: auto;
    padding:0px 12px
}


}



@media screen and (max-width:600px) {
    .blog-post-contenxt{
        padding:12px;
    }
    .post-grid-container{
        padding:32px 12px;
    }

   
}



