@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://use.fontawesome.com/releases/v5.15.4/css/all.css');

:root{
    --primary:#d9f1cd;
    --secondary:#7CA645;
    --complimentary:#ffb870;
    --background:#2E3330;
}

body{
    margin: 0;
    background-color: var(--background);
}

h1{
    font-size: 36px;
    color:white;
    margin:0;
    text-shadow: 1px 1px black;
}

h2{
    font-size: 24px;
    color:white;
    text-shadow: 1px 1px black;
    margin:0;
}

h3{
    font-size: 18px;
    color:white;
    text-shadow: 1px 1px black;
    margin:0;
}

h4{
    font-size: 14px;
    color:white;

    text-shadow: 1px 1px black;
    margin:0;
}
p{
    color:white;
}
li{
    list-style-type:inherit;
    color: white;
}

a{
    color: white;
    text-decoration:none;
    transition: 0.5s all;
}

a:hover{
    opacity: 0.75;
    color:var(--complimentary);
    transition: 0.5s all;
}

a[aria-current=page]{
    opacity: 0.75;
    color:var(--complimentary);
    transition: 0.5s all;
}