@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://use.fontawesome.com/releases/v5.15.4/css/all.css');

:root{
    --primary:#227C9D;
    --secondary:#17C3B2;
    --primary2:#FFCB77;
    --secondary2:#FEF9EF;
    --complimentary:#FE6D73;
    --background:#2B5B6D;
}

body{
    margin: 0;
    background-color: var(--background);
}

h1{
    font-size: 36px;
    color:white;
    margin:0;
    text-shadow: 1px 1px black;
}

h2{
    font-size: 24px;
    color:white;
    text-shadow: 1px 1px black;
    margin:0;
}

h3{
    font-size: 16px;
    color:white;
    text-shadow: 1px 1px black;
    margin:0;
}

h4{
    font-size: 13px;
    color:white;

    text-shadow: 1px 1px black;
    margin:0;
}

a{
    color: white;
    text-decoration:none;
}

a:hover{
    opacity: 0.5;
    color:var(--complimentary)
}