.card{
    background-color: var(--secondary);
    border-radius: 12px;
    padding: 32px 12px;
    width: clamp(300px, 95%, 1200px);
    align-self: center;
    position: relative;
    box-sizing: border-box;
}

.card-wrapper{
   margin-top:100px;
   display: flex;
   align-items: center;
   flex-direction: column;
   min-height: 85vh;
   padding:0px 12px;
   gap:80px;
}

@media screen and (max-width: 1000px){
    .card{width: 100%;}
}