.card-slider-arrow{
    color: white;
    align-self: center;
    cursor: pointer;
    transform: scale(100%);
    transition: all 0.5s;
}

.card-slider-arrow:hover{
    transform: scale(125%);
    transition: all 0.5s;
}

.other-news-cards{
    display: grid;
    grid-template-columns:30px repeat(3,350px) 30px;
    justify-content: center;
    gap:12px
}

@media screen and (max-width:1088px) {
    .other-news-cards{
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap:12px;
        padding:0px 12px;
    }
    .detail-card-arrow{
        display: none;
    }
    }

  