.game-card{
    border-radius: 12px;
    display: flex;
    align-items: flex-end;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    min-height: 340px;
    transform: scale(100%);
    transition: 0.5s all;
}

.game-card:hover{
    transform: scale(103%);
    transition: 0.5s all;
}


.game-area-top-text{
    position: absolute;
    top:-42px;
    left:50%;
    text-align: center;
    transform: translate(-50%);
    width: 100%;
}

.game-area-bottom-text{
    text-align: center;
    text-decoration:underline;
    width: 100%;
}

.text-wrapper{
    display: flex;
    align-items: center;
    flex-direction: column;
    background: rgba(34,124,157,0.4);
    width: 100%;
    border-radius: 24px;
    padding:12px 24px;
}

.game-list{
    display: grid;
    gap:12px;
    padding: 12px 12px;
    grid-template-columns: repeat(auto-fit,minmax(290px,1fr));
    grid-template-rows: max-content;
    position: relative;
}




@media screen and (max-width: 600px){
.game-list{ 
    grid-template-columns:1fr;
}

.game-area-bottom-text{
    text-align: center;
    position: inherit;
    left:auto;
    bottom:auto;
    transform:none;
}

.game-area-top-text{
    text-align: center;
    position:inherit;
    left:auto;
    top:auto;
    transform:none;
}

}