.content-grid{
    display: grid;
    grid-template-areas: 
    "hero"
    "posts"
    ;
    grid-template-columns: 1fr;
    grid-template-rows: 85vh 1fr;
    min-height: 100vh;
    gap:40px;
}




@media screen and (max-width: 600px) {
    .content-grid{
        grid-template-areas: 
        "hero"
        "posts"
        ;
        grid-template-columns: 1fr;
        grid-template-rows: 85vh 1fr;
    }
}
