.contact-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:20px;
    padding:24px 0px;
}

.short-input{
width:clamp(280px,50%,600px);
border-radius: 8px;
padding:12px;
}

.long-input{
border-radius: 8px;
width:clamp(280px,50%,600px);
padding:12px
}

.widget-styler .uploadcare--widget {
    display: flex;
    flex-direction: column;
    color:var(--complimentary);
}

.widget-styler .uploadcare--widget__button {
    background-color: var(--complimentary);
    border-radius: 12px;
    color:white;
    padding:12px 24px;
    border:0;
    cursor: pointer;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-bottom: 4px solid lighten(gray, 70%);
    text-transform: uppercase;
    font-family: Kosugi;
}

.widget-styler .uploadcare--widget__button:hover, .uploadcare--widget__button:hover {
    box-shadow: 0px 15px 25px -5px rgba(darken(dodgerblue, 40%));
    transform: scale(1.03);
}

