
.header{
    width:100%;
    height:60px;
    position: fixed;
    background: transparent;
    top:0;
    left:0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    transition: 0.3s all;
}

.header-background{
    background: rgba(1,1,1,0.4);;
}

.logo{
    padding:0 0 0 6px;
    display: flex;
    align-items: center;
}

.links{
    padding:0 32px;
    display: flex;
    gap:24px;
    align-items: center;
}



@media screen and (max-width:600px) {
    .logo{
        padding:0px
    }
    .links{
        gap:6px;
        font-size: 14px;
    }
}