
.header{
    width:100%;
    height:60px;
    position: fixed;
    background: transparent;
    top:0;
    left:0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    transition: 0.3s all;
}

.header-background{
    background: rgba(1,1,1,0.4);;
}

.logo{
    padding:0 0 0 6px;
    display: flex;
    align-items: center;
}

.dropdown {
    padding: 2px 0;
    margin: 0;
    height: 0; 
    overflow: hidden;
    transition: height ease-in-out 0.4s;
    visibility: hidden;
    position: absolute;
    list-style-type: none;
    left: 0;
    font-size: 14px;
    min-width: 100px;
  }

  #non-link{
    color:white
  }


  #non-link:hover .dropdown {
    height: 135px;
    visibility: visible;
  }

.links{
    padding:0 32px 0 0px;
    display: flex;
    gap:24px;
    align-items: center;
    -webkit-tap-highlight-color: transparent;
}

.links li{
        transition: 0.2s;
        transition-delay: calc(60ms * var(--delay));
        padding: 4px 0px;
}




.socials-header{
    display: flex;
    flex-direction: row;
    gap:12px
}


@media screen and (max-width:600px) {
    .logo{
        padding:0px
    }
    .links{
        gap:6px;
        font-size: 14px;
    }
}

@media screen and (max-width:900px) {
    .logo{
        padding:0px
    }
    .links{
        gap:6px;
        font-size: 14px;
    }

    .socials-header{
        display: none;
    }
    #non-link:focus-within .dropdown {
        height: 135px;
        visibility: visible;
      }
}