.social-wrapper{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap:50px;
padding:24px
}

.social-media-container{
    position: relative;
    margin-bottom: 100px;
    padding:24px 12px;
}

.social-item{
    height: clamp(170px,39.5vw,505px);
    width: clamp(300px,70vw,900px);
    border:none
}

.social-wrapper iframe{
border-radius: 12px;
}

.social-media-icon-container{
    position: absolute;
    left: 50%;
    top:0;
    margin-left: -59px;
    margin-top: -59px;
    background-color: var(--complimentary);
    color: white;
    width: 120px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    clip-path: polygon(49% 0, 71% 23%, 67% 27%, 74% 26%, 100% 51%, 77% 73%, 71% 70%, 74% 75%, 49% 100%, 24% 77%, 29% 70%, 21% 74%, 0% 50%);
}

@media screen and (max-width:1000px){
    .social-wrapper{ 
        flex-direction: column
    }
}
